# Variable Assignment

In [1]:
variable_name = "Hi How are u all !"

In [2]:
variable_name

'Hi How are u all !'

In [3]:
variable_number = 34

In [4]:
variable_number

34

In [5]:
2var = "hi"

SyntaxError: invalid syntax (<ipython-input-5-07249d336918>, line 1)

In [6]:
var name = "hi"

SyntaxError: invalid syntax (<ipython-input-6-ea9d4d78baa4>, line 1)

In [7]:
varname = "hi"

In [8]:
list # Reseverd KeyWords

list

In [9]:
dict # Reseverd KeyWords

dict

In [10]:
str # Reseverd KeyWords

str

# C/C++ - # Statically typed langauge 

int a = 12

float b = 12.3

char c = "a"

In [14]:
# Python is a Dynamically typed Language !!

a = 12
b= 12.3
c = "a"

In [15]:
type(a)

int

In [16]:
type(b)

float

In [17]:
type(c)

str

# Data Types in Python

# Integers in Python

Intergers are normal whole numbers which we see in genral life, 

12, 56, 23, 79784, 839046

In [36]:
a = 34

b = -56

c = 78

In [37]:
add = a + b

In [38]:
add

-22

In [24]:
type(b)

int

# Float Numbers

Float Numbers are our Demical Numbers which we have in the normal Life, 

Ex - Float numbers -> 12.3 , 45.6, 78.9, 123.45, 678.91

In [39]:
d = 12.3
e = -45.6
f = 78.9

In [40]:
e.is_integer()

False

In [41]:
type(e)

float

In [42]:
add_float = d +e +f

In [43]:
add_float

45.60000000000001

In [44]:
add_int_float = a + d

In [45]:
add_int_float

46.3

# String

strings, are just the array of char, in our programming langauge, so that we can store anykind of messages like - 

"Hi how are u all"

In [53]:
s = "hi how are u all"

In [54]:
s

'hi how are u all'

In [55]:
help(s.islower)

Help on built-in function islower:

islower() method of builtins.str instance
    Return True if the string is a lowercase string, False otherwise.

    A string is lowercase if all cased characters in the string are lowercase and
    there is at least one cased character in the string.

In [56]:
s.islower()

True

In [57]:
s.upper()

'HI HOW ARE U ALL'

In [58]:
s.index('u')

11

In [59]:
s.title()

'Hi How Are U All'

In [60]:
s[0]

'h'

In [61]:
s[8]

'r'

# Lists

List are a collection of objects which are bundled together in an indexed manner, where any kind of object can be stored inside list, 

for example, we can have a shopping list after covid-19,

1. "Cake"
2. " Candle"
3. "Greeting card"
4. "New Wear"
    few details
    1. 23
    2. "1 june 1999"
    3. "Bidar, KA"

In [83]:
lst = ["cake","candle","greeting","new wear",
       [23,"1 june 1999","Bidar, KA"],23.4,78,True,False,
       "ashu","gang",56,"rowdy",67]

In [84]:
lst[4][0]

23

In [85]:
lst[8]

False

In [86]:
lst[-1]

67

In [87]:
lst[0]

'cake'

In [90]:
lst[5:-1]

[23.4, 78, True, False, 'ashu', 'gang', 56, 'rowdy']

In [89]:
lst[1:8]

['candle',
 'greeting',
 'new wear',
 [23, '1 june 1999', 'Bidar, KA'],
 23.4,
 78,
 True]

In [92]:
# Slicling and Dicing of the List

In [94]:
lst[0:]

['cake',
 'candle',
 'greeting',
 'new wear',
 [23, '1 june 1999', 'Bidar, KA'],
 23.4,
 78,
 True,
 False,
 'ashu',
 'gang',
 56,
 'rowdy',
 67]

In [95]:
lst[::-1]

[67,
 'rowdy',
 56,
 'gang',
 'ashu',
 False,
 True,
 78,
 23.4,
 [23, '1 june 1999', 'Bidar, KA'],
 'new wear',
 'greeting',
 'candle',
 'cake']

In [97]:
len(lst) # 0-13

14

In [99]:
lst.pop()

67

In [100]:
lst

['cake',
 'candle',
 'greeting',
 'new wear',
 [23, '1 june 1999', 'Bidar, KA'],
 23.4,
 78,
 True,
 False,
 'ashu',
 'gang',
 56,
 'rowdy']

# Dict

Dict. are another data type, which is been used to store the
data in key:value pairs, 

in real life - 

"Hello" : "(used to express a greeting, answer a telephone, or attract attention.)"

In [108]:
dit = {"Hello": "used to express a greeting",
       "How": "Used to describe the state of question",
       "Num": 1
      }

In [106]:
dit["Hello"]

'used to express a greeting'

In [107]:
dit["How"]

'Used to describe the state of question'

In [110]:
dit["Num"]

1

In [113]:
dit.keys()

dict_keys(['Hello', 'How', 'Num'])

In [114]:
dit.items()

dict_items([('Hello', 'used to express a greeting'), ('How', 'Used to describe the state of question'), ('Num', 1)])

In [115]:
dit.values()

dict_values(['used to express a greeting', 'Used to describe the state of question', 1])

In [2]:
dit = {}

In [3]:
dit["Name"] ="Meet Vansjaliya"
dit["Age"] = "21"
dit["Place"] = "Navsari"

In [4]:
dit

{'Name': 'Meet Vansjaliya', 'Age': '21', 'Place': 'Navsari'}

In [5]:
dit.get("Name")

'Meet Vansjaliya'

# Sets

In [19]:
st = {"Meet",1,2,3,4,4,5,5,5,6,
      "vansjaliya","python","python"}

In [20]:
st

{1, 2, 3, 4, 5, 6, 'Meet', 'python', 'vansjaliya'}

In [21]:
st.pop()

1

In [22]:
st

{2, 3, 4, 5, 6, 'Meet', 'python', 'vansjaliya'}

In [23]:
st.remove("Meet")

In [24]:
st

{2, 3, 4, 5, 6, 'python', 'vansjaliya'}

# Tuple

They are immutable collection of objects

In [28]:
tup = (1,2,3,4,5,5,"Meet","Vansjaliya")

In [26]:
tup.index(1)

0

In [29]:
tup.count(5)

2

# Bool

In [134]:
# True and False

In [135]:
True

True

In [136]:
False

False

# Tuples

In [137]:
#They are ordenred immumtable collections of objects

In [138]:
tup = (1,2,3,4,"Username","emailid","accesstokens")

In [141]:
tup.count(3)

1

In [142]:
tup.index("Username")

4

In [143]:
tup

(1, 2, 3, 4, 'Username', 'emailid', 'accesstokens')

In [144]:
# Boolean

In [145]:
True

True

In [146]:
False

False